<form class="input-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <!-- form header  -->
  <div class="calculator-header">
    <h3>Mortgage Calculator</h3>
    <button type="reset" (click)="clearCalcAndResult()">Clear All</button>
  </div>

  <!-- ----Header Div---- -->
  <div class="form-item">
    <label for="amount" class="input-title">Mortgage Amount</label>
    <div class="input-area amount-div" [ngClass]="{'has-error': amount.invalid && amount.touched}" >
      <input
        type="number"
        name="amount" 
        [(ngModel)]="amount" 
        id="amount" 
        #amount='ngModel' 
        (change)="getValue(amount)"
        required
      >
      <span class="desc" [ngClass]="{'desc-has-error': amount.invalid && amount.touched}" >£</span>
    </div>
    <span class="error" *ngIf="amount.invalid && amount.touched">This field is required</span>
  </div>

  <!-- ----Term and Rate Div---- -->
  <div class="term-rate-div">
    <div class="tr-item form-item">
      <label for="term" class="input-title">Mortgage Term</label>
      <div class="input-area" [ngClass]="{'has-error': term.invalid && term.touched}"  >
        <input
          type="number" 
          [(ngModel)] = "term"
          #term="ngModel"
          name="term" 
          id="term"
          min="0"
          (change)="getValue(term)"
          required
        >
        <span class="desc" [ngClass]="{'desc-has-error': term.invalid && term.touched}" >years</span>
      </div>
      <span class="error" *ngIf="term.invalid && term.touched" >This field is required</span>
    </div>
    <div class="tr-item form-item">
      <label for="rate" class="input-title">Interest Rate</label>
      <div class="input-area" [ngClass]="{'has-error': rate.invalid && rate.touched}" >
        <input
          type="number" 
          [(ngModel)]="rate" 
          #rate="ngModel"
          name="rate" 
          id="rate"
          min="0"
          (change)="getValue(rate)"
          required
        >
        <span class="desc" [ngClass]="{'desc-has-error': rate.invalid && rate.touched}" >%</span>
      </div>
      <span class="error" *ngIf="rate.invalid && rate.touched">This field is required</span>
    </div>
  </div>

<!-- ----Mortgage Type Div---- -->
  <div class="mortgage-type">
    <p class="input-title">Mortgage Type</p>
    <span>
      <input
        type="radio" 
        [(ngModel)]="mortgageType"
        name="mortgageType" 
        id="repayment"
        value="repayment"
        #mortgageType="ngModel"
        (change)="getValue(mortgageType)"
        required 
      >
      <label for="repayment">Repayment</label>
    </span>
    <span>
      <input
        type="radio" 
        [(ngModel)]="mortgageType"
        name="mortgageType" 
        id="interestOnly"
        value="interestOnly"
        (change)="getValue(mortgageType)"
        required 
      >
      <label for="interestOnly">Interest Only</label>
    </span>
  </div>
  <span class="error" *ngIf="mortgageType.invalid && mortgageType.touched">This field is required</span>

  <!-- ----Submit Button---- -->
  <button 
    class="submit-btn" 
    (click)="sendResultOut()"
    (click)="scrollToBottom()" 
    type="submit" 
  >
    <img src="./images/icon-calculator.svg" alt="calculator icon">
    <p>Calculate Repayments</p>
  </button>
</form>
